{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <table class="infobox geography vcard" style="width: 384px; font-size: 88%;">
                    <tbody>
                    <tr style="height: 48px;">
                        <th class="adr" style="text-align: center; font-size: 1.25em; font-weight: bold; padding: 0.25em 0.33em 0.33em; line-height: 1.2em; height: 48px; width: 438px;" colspan="2">
                            {{ info.general.name }}
                            <br />
                            <div style="padding-top: 0.25em; font-weight: normal;">
                                {{ info.general.abbrev  }}
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row"> Established</th>
                        <td style="white-space: nowrap;">
                            {{ info.general.established }}
                        </td>
                    </tr>
                    <tr class="mergedtoprow" style="height: 18px;">
                        <th scope="row"> Members</th>
                        <td style="white-space: nowrap;">
                            <ul>
                                {% for key, val in info.hasMember.items %}
                                    <li style="white-space: nowrap;">
                                        <a>
                                            <a class="url" href="/{{ key|urlencode }}"/>{{ val }}</a>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <th scope="row"> Headquarters location</th>
                    <td style="white-space: nowrap;">
                        {% for key, val in info.hasHeadq.items %}
                            <a class="url" href="/{{ key|urlencode }}">{{ val }}</a>
                        {% endfor %}
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}